.like-button {
  cursor: pointer;

  //span {
  //  position: relative;
  //  top: -4px;
  //}
  //
  i {
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}

.comment-button {
  cursor: pointer;

  //span {
  //  position: relative;
  //  top: -4px;
  //}
  //
  i {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-left: 5px;
  }
}

.comments-container {
  //max-height: 650px;
  overflow: auto;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

.comments-container::-webkit-scrollbar {
  width: 5px;
}

.comments-container::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.2);
  width: 5px;
}

.comments-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  width: 5px;
}