.like-button {
  cursor: pointer;

  //span {
  //  position: relative;
  //  top: -4px;
  //}
  //
  i {
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}

.comment-button {
  cursor: pointer;

  //span {
  //  position: relative;
  //  top: -4px;
  //}
  //
  i {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-left: 5px;
  }
}