.shell {
  position: relative;
  min-height: 100%;
  background: aliceblue;
  //border: 10px dashed blue;

  .page-content {
    //border: 10px dashed green;
    min-height: 90%;
    width: 100%;
    padding: 60px 0;
    align-items: center;
  }
}

.page-container {
  max-width: 1240px;
  overflow: auto;
  margin: auto;

  @media all and (max-width: 1240px) {
    width: 100%;
    padding: 0 10px;
  }
}